/*
    font-family: 'Abril Fatface', cursive;
    font-family: 'Kelly Slab', cursive;
    font-family: 'Roboto', sans-serif;
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #992278;
    color: #fafafa;
    font-family: Arial;
    font-size: 16px;
}

@media(min-width: 400px){
    body{
        font-size: 18px;
    }
}
@media(min-width: 800px){
    body{
        font-size: 20px;
    }
}
@media(min-width: 1200px){
    body{
        font-size: 22px;
    }
}

header{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

header h1, header h2{
    margin: 0.25em;
}

.titulos-sessao{
    padding-top: 15px;
}

.menu{
    background-color: indigo;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 1;
}

.menu ul{
    display: flex;
    justify-content: space-around;
}

.menu li{
    list-style: none;
    font-family: 'Roboto', sans-serif;
}

.menu a{
    display: block;
    padding: 10px 30px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    transition: background-color 500ms;
}

.menu a:active,
.menu a:hover{
    background-color: lightseagreen;
    text-decoration: underline;
}

/*
.logo {
    transform: scale(0.2) translateY(50vh);
    opacity: 0;
    animation: 1s ease 2s animacaoTitulo forwards;
  }
  
  @keyframes animacaoTitulo {
    from {
      transform: scale(0.2) translateY(50vh);
      opacity: 0;
    }
    to {
      transform: scale(1) translateY(0);
      opacity: 1;
    }
}
*/

.web-title,
.web-subtitle{
    text-align: center;
    font-family: 'Abril Fatface', cursive;
}

.web-subtitle{
    font-style: italic;
}

/*---------Inicio do botão flutuante---------*/
.inicio{
    position: fixed;
    top: 90vh;
    left: 80vw;
}

@media(max-height: 550px){
    .inicio{
        top: 85vh;
    }
}

@media(min-width: 360px){
    .inicio{
        left: 85vw;
    }
}

@media(min-width: 568px){
    .inicio{
        left: 90vw;
    }
}

.inicio a{
    font-size: 18px;
    text-align: center;
    height: 50px;
    width: 50px;

    /*padding*/
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 13px;
    padding-bottom: 7px;

    background-color:rgba(75, 0, 130, 0.5) ;
    border-radius: 50%;
    display: block;
    text-decoration: none;
    color: white;
    transition: text-shadow 500ms, transform 500ms, box-shadow 500ms;
}

.inicio a:hover{
    transform: scale(1.1);
    box-shadow: 0px 0px 10px rgba(75, 0, 130, 1);
    text-shadow: 0px 0px 10px white;
}
/*---------Fim do botão flutuante---------*/

/*Aula 3*/

.projetos{
    padding: 2em;
    min-height: 95vh;
}

.projetos h2,
.contato h2{
    text-align: center;
    text-decoration: underline;
    margin-bottom: 1.5em;
    font-family: 'Kelly Slab', cursive;
}

.projetos .grid{
    display: grid;
    gap: 2em;
}

@media(min-width: 480px){
    .projetos .grid {
        grid-template-columns: 220px 220px;
        align-content: center;
        justify-content: space-around;
      }
}

.projetos figure{
    text-align: center;
}
.projetos figcaption{
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
}

.projetos a{
    text-decoration: none;
}

.projetos a:hover{
    color: #ffffff;
    text-decoration: underline;
}

.imagem-projetos{
    height: 110.5px;
    width: 200px;
    object-fit: cover;
    transition: transform 500ms;
}

.imagem-projetos:hover{
    transform: scale(1.2);
}


/*Aula 4*/
.contato{
    padding: 2em;
    min-height: 100vh;
}

.icones{
    display: grid;
    gap: 3em;
    justify-content: space-around;
}   
@media (min-width: 320px) {
    .icones{
        grid-template-columns: 80px 80px
    }
}

@media (min-width: 500px) {
    .icones{
        grid-template-columns: 80px 80px 80px 80px;
    }
}

.contato a{
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 3em;
    transition: transform 500ms, text-shadow 500ms;
}

.contato a:hover{
    transform: scale(1.2);
    text-shadow: 0px 0px 10px white;
}

