/*
    font-family: 'Abril Fatface', cursive;
    font-family: 'Kelly Slab', cursive;
    font-family: 'Roboto', sans-serif;
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #992278;
    color: #fafafa;
    font-family: Arial;
    font-size: 16px;
}

@media(min-width: 400px){
    body{
        font-size: 18px;
    }
}
@media(min-width: 800px){
    body{
        font-size: 20px;
    }
}
@media(min-width: 1200px){
    body{
        font-size: 22px;
    }
}

header{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

header h1, header h2{
    margin: 0.25em;
}

.menu{
    background-color: indigo;
    position: fixed;
    top: 0;
    width: 100vw;
}

.menu ul{
    display: flex;
    justify-content: space-around;
}

.menu li{
    list-style: none;
    font-family: 'Roboto', sans-serif;
}

.menu a{
    display: block;
    padding: 10px 30px;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.menu a:hover{
    background-color: lightseagreen;
    text-decoration: underline;
}

.web-title,
.web-subtitle{
    text-align: center;
    font-family: 'Abril Fatface', cursive;
}

.web-subtitle{
    font-style: italic;
}

/*Aula 3*/

.projetos{
    padding: 2em;
    height: 95vh;
}

.projetos h2{
    text-align: center;
    text-decoration: underline;
    margin-bottom: 1.5em;
    font-family: 'Kelly Slab', cursive;
}

.projetos .grid{
    display: grid;
    gap: 2em;
}

@media(min-width: 480px){
    .projetos .grid {
        grid-template-columns: 220px 220px;
        align-content: center;
        justify-content: space-around;
      }
}

.projetos figure{
    text-align: center;
}
.projetos figcaption{
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
}

.projetos a{
    text-decoration: none;
}

.projetos a:hover{
    color: #ffffff;
    text-decoration: underline;
}

.imagem-projetos{
    height: 110.5px;
    width: 200px;
    object-fit: cover;
}
